body, html {
    font-family: "Blinker", sans-serif;
}

.nav-item .nav-link {
    color: #F5F5F5;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #F95206;
    font-size: 18px;
    font-weight: 500;
    border-bottom: #323FC6 2px solid;
}

.bg-black {
    --bs-bg-opacity: 1;
    background-color: #050505 !important;
}

.btn-orange {
    background-color: #323FC6;
    color: #F5F5F5;
    padding: 12px 42px;
    border-radius: 60px;
}

.btn-cyan {
    background-color: #01ECFF;
    color: #050505;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #050505;
    border-color: #050505;
}

.hero-image {
    background-image: url(../img/BANNER-MOVIL-PRPEDEUTICO.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 160px 0 80px 0;
    min-height: 500px;
}

.hero-days {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;

}

.hero-month {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;

}

.border-l {
    border-left: none;
}

.hero-data {
    padding: 14px 20px;
}

.hero-lugar {
    font-size: 16px;
    line-height: 17px;
    text-align: center;
}

#infographic {
    padding: 80px 0;
    background-color: #000000;
}

.info-icon {
    text-align: center;
    margin-bottom: 16px;
}

.info-graph-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0;
    text-align: center;
    color: #F95206;
}

.info-graph-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 4px;
}

#intro {
    padding: 20px 0 70px 0;
    background-color: #F5F5F5;
    color: #050505;
}

H1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    margin: 12px 0 20px 0;
}

.content {
    font-size: 18px;
    line-height: 28px;
    color: #202020;
}

#dirigido {
    padding: 70px 0;
    background-color: #F95206;
    color: #F5F5F5;
}

.dirigido-a {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    max-width: 850px;
}

.requisito {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0;
    color: #666666;
}

.yellow-circle {
    background-color: #D9D9D9 !important;
    border-radius: 50% !important;
    padding: 0.4em;
    font-size: 24px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    margin-right: 1.5rem;
}

.code {
    font-size: 28px;
    color: #000000;
    font-weight: bold;
}

.curso {
    margin: 8px 0;
    padding: 20px;
}

.curso:hover {
    background-color: #F95206;
}

.title {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #282828;
}

.professor {
    font-size: 18px;
    color: #878787;
    margin-top: 4px;
}

.curso:hover .title {
    color: #FFFFFF;
}

.curso:hover .professor {
    color: #FFFFFF;
}

.curso:hover .yellow-circle {
    background-color: #FFA278 !important;
}

.curso:hover .code {
    color: #FFFFFF;

}

.modal-body {
    padding: 28px;
}

#talks {
    padding: 30px 30px;
    background-color: #EFEFEF;
}

#schedule {
    padding: 70px 0;
    background-color: #FFFFFF;
}

#schedule h1 {
    color: #282828;
}

.schedule-time {
    padding: 4px 16px;
    color: #878787;
    min-width: 140px;
    font-weight: bold;
}

.schedule-event {
    border-bottom: 1px solid #e9ecef;
    padding: 16px 0;
}

.schedule-talk {
    padding: 4px 16px;
}

.schedule-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 8px;
    color: #282828;
}

.schedule-professor {
    font-size: 18px;
    color: #878787;
}

.schedule-talk:hover .schedule-time {
    color: #F5F5F5;
}

.schedule-talk:hover .schedule-title {
    color: #F95206;
}

.schedule-talk:hover .schedule-professor {
    color: #F95206;
}


.schedule-talk:hover .schedule-time {
    color: #F95206;
}


.nav-link:focus, .nav-link:hover {
    color: #F95206;
}

#schedule .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFFFFF!important;
    font-weight: bold;
    background-color: #F95206;
    border-color: #F95206;

}

#schedule .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    isolation: isolate;
    border-color: #F95206;
}


#schedule .nav-link {
    color: #000000;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

.nav-tabs .nav-link {
    padding: 12px 48px;
}

#comites {
    padding: 70px 0;
    background-color: #FFFFFF;
}

li {
    color: #878787;
}

.contacto-container {
    padding: 60px 0 0 0;
    background-color: #000000;
}

.contacto-title {
    font-size: 28px;
    font-weight: 700;
    color: #01ECFF;
    text-align: center;
}

.contacto-content {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

#footer {
    padding: 72px 0;
    background-color: #000000;
}

.organizer {
    color: #FFFFFF;
}

.cyan {
    color: #01ECFF;
}

.purple {
    color: #906190;
}

.orange {
    color: #F95206;
}

.cyan-dark {
    color: #096B68;
}

.white {
    color: white;
}

.sponsor {
    margin-bottom: 4rem;
}

.copyright {
    color: white;
    font-size: 12px;
    padding: 2px;
}

#dgapa {
    padding: 30px 0;
    background-color: #EFEF01;
    color: #096B68;
}

@media (min-width: 768px) {

    .navbar-nav {
        min-height: 100px;
    }

    .hero-image {
        background-image: url(../img/BANNER-PROPEDEUTICO-2024.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: black;
        /*position: relative;*/
        padding: 80px 0 40px 0;
        min-height: 480px;
    }

    .hero-days {
        font-size: 45px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: 0;
        text-align: center;
    }

    .hero-month {
        font-size: 30px;
        font-weight: 300;
        line-height: 37px;
        letter-spacing: 0;
        text-align: center;
    }

    .border-l {
        border-left: none;
    }


    .hero-data {
        padding: 0 20px;
    }

    .hero-lugar {
        font-size: 22px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0;
        text-align: left;

    }

    .border-l {
        border-left: 4px solid #01ECFF;
    }

    .content {
        max-width: 800px;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        color: #202020;
    }

}